blue .navbar-inner {
	background-color: #027AD3;
    background-image: -moz-linear-gradient(center top , #0064CD, #049CDB);
}
.navbar-inverse .brand {
	font-size: 36px;
	margin: 0px;
	margin-right: 15px;
	padding: 0px;
}
.formcontainer {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}
.formcontainer:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.sign-in:after {
	content: "Sign In";
}
.sign-up:after {
	content: "Sign Up";
}
.formcontainer .controls {
    margin-left: 152px;
}
.formcontainer .control-label {
    width: 132px;
}
.kalogo {
	height: 60px;
	opacity: 0.9;
}
.navbar-text {
	font-weight: bold;
    line-height: 19px;
    margin-right: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.help-block, .help-inline {
    color: #666666;
    font-size: 12px;
}
optgroup + optgroup { border-top: 1px solid black }
dt, dd { margin-bottom: 10px; }
.offset {
	margin-left: 40px;
}
.span10 h2 {
	margin-top: 0px;
}
.line-item {
	color: black;
	padding: 3px 20px;
}
ul.dropdown-menu li.cart-item {
    border: 0px solid #EEEEEE;
    height: 50px;
    padding: 3px 10px 3px 10px;
    margin: 3px 10px 3px 10px;
}
.cart-item {
	color: black;
}
.item-title {
	font-weight: 700;
	padding-right: 10px;
}
.item-price {
	color: #339900;
	font-weight: bold;
	float: right;
}
.right {
	text-align: right !important;
}
.left {
	text-align: left !important;
}
.cart-totals {
	width: 100%;
}
.cart-totals td {
	text-align: right;
}
.green {
	color: #339900;
}
.discount-description {
	text-align: right;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    width: 200px;
    float: right;
}
.thumbnail {
    overflow: hidden;
    position: relative;
}
.top {
    margin: -4px -4px 0px -4px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.top h3 {
    margin-top: -5px;
    padding: 4px;
    padding-bottom: 20px;
    line-height: 30px;
}
.bottom {
    width: 100%;
    position: absolute; bottom: 0; left: 0;
    margin: 0px -4px -4px -4px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
.bottom p {
    padding: 4px;
}
.nofield {
    padding-top: 5px;
}
.toblock {
    border-radius: 6px;
    font-size: 0.8em;
    padding: 1px 5px;
    background: #d0d7e4;
    border: 1px solid #bac5d8;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.center {
    text-align: center;
}